<a href="https://colab.research.google.com/github/brunacarse/etl-python/blob/main/ETL_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Análise do número de estudantes que realizaram o Exame Nacional do Ensino Médio por UF, através da base de dados do IBGE.

In [8]:
import pandas as pd

df =  pd.read_csv('etl_python.csv')
uf = df['sigla_uf_prova'].tolist()
uf_compilado = set(uf)
print(uf_compilado)

{'CE', 'BA', 'SC', 'RN', 'DF', 'MT', 'MS', 'RS', 'MG', 'SE', 'RR', 'RJ', 'AM', 'TO', 'PI', 'AL', 'PB', 'ES', 'PE', 'AP', 'AC', 'PR', 'PA', 'GO', 'RO', 'MA', 'SP'}

<ipython-input-8-21a47ce8060d>:3: DtypeWarning: Columns (47,48,51,52) have mixed types. Specify dtype option on import or set low_memory=False.
  df =  pd.read_csv('etl_python.csv')

In [25]:
compilacao_uf = df.groupby(['sigla_uf_prova']).agg({'id_inscricao':'count'}).reset_index()
compilacao_ano = df.groupby(['ano']).agg({'id_inscricao':'count'}).reset_index()
compilacao_sexo = df.groupby(['sexo']).agg({'id_inscricao':'count'}).reset_index()
print(compilacao_dados)
print(compilacao_ano)
print(compilacao_sexo)

   sigla_uf_prova  id_inscricao
0              AC           229
1              AL           530
2              AM          1540
3              AP           276
4              BA          2420
5              CE          1881
6              DF           581
7              ES           579
8              GO          1275
9              MA          1210
10             MG          2927
11             MS           452
12             MT           606
13             PA          1764
14             PB           812
15             PE          1581
16             PI           641
17             PR          1277
18             RJ          2105
19             RN           655
20             RO           423
21             RR            91
22             RS          1315
23             SC           720
24             SE           405
25             SP          4894
26             TO           291
    ano  id_inscricao
0  2019          6714
1  2020         10804
2  2021          7439
3  2022          6523
  sexo  id_inscricao
0    F         18833
1    M         12647

In [39]:
ano_maior_numero_participantes = compilacao_ano['id_inscricao'].min()
uf_maior_numero_participantes = compilacao_uf['id_inscricao'].max()
sexo_maior_numero_participantes = compilacao_sexo['id_inscricao'].max()

print(ano_maior_numero_participantes)
print(uf_maior_numero_participantes)
print(sexo_maior_numero_participantes)

6523
4894
18833